.charts{
    margin: 65px auto;
    width:auto
}
.highcharts-figure, .highcharts-data-table table {
    width: auto;
    margin: 1em auto;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

#container {
  height: 400px;
}

.charts_div{
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    padding: 25px;
    margin: 10px;
    display: inline-block;
    width: 30%;
}
.highcharts-description{
    font-size: medium;
}